<h2>Redigera din blogg</h2>

<form action="/bloggs/<%= @blogg['id']%>/update" method="post">
  <label> 
      <input type="text" name="heading" value="<%= @blogg['heading']%>">
  </label>
  <label>
      <input type="text" name="description" value="<%= @blogg['description']%>">
  </label>
  <label>
      <select name="category_id">
            <% @categories.each do |cat| %>
            <option value="<%= cat["id"]%>"
            <%= "selected" if cat["id"] == @blogg["category_id"] %>>
            <%= cat["category_title"] %>
            </option>
        <% end %>
      </select>
  </label>
  <input type="submit" value="Update">
</form>